.flex-parent {
  display: flex;
  flex-flow: row wrap;
}

main.flex-parent {
  width:70%;
  margin: 0 auto;
  padding-top:30px;
}

aside.flex-parent {
  margin: 0 auto;
  width:70%;
}

.flexible-img {
  width: 100%;
}

.flex {
   box-sizing: border-box;
   border: 5px solid transparent;

}

.flex-2 {
  flex-basis: 50%;
}

.flex-3 {
  flex-basis: 33.333333%;
}

.flex-4 {
  flex-basis: 25%;
}