.navForm {
  float:right;
}

form {
  font-size:15px;
  text-align:center;
}

input[type="text"],input[type="password"],input[type="file"] {
  border: 1px solid rgba(0,0,0,0.15);
  padding:5px;
  font-size:15px;  
  color:rgba(0,0,0,0.50);
}

input[type="file"] {
  width:0;
  height: 0;
  position: absolute;
  top:100%;
  left:100%;
  opacity: 0;
}



input[type="text"]:focus,input[type="password"]:focus {
  border:1px solid rgba(0,0,0,0.30);
}

input:invalid, input:required {
  box-shadow: none;
}

input.invalid {
  border:1px solid rgba(255,0,0,0.66);
  background: url("../res/error.png") no-repeat calc(100% - 5px) center;
  background-size:20px;
}

input.valid {
  border:1px solid rgba(0,255,0,0.66);
  background: url("../res/success.png") no-repeat calc(100% - 5px) center;
  background-size:20px;
  
}

a.submitButton,input[type=submit].submitButton,div.inputfile {
  border:none;
  padding:5px 20px;
  color:white;
  background-color: #3897f0;
  font-size:15px;
  cursor: pointer; 
  text-decoration:none;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

div.inputfile {
  box-shadow: none;
  flex:3;
  overflow: hidden;
  word-break: keep-all;
  text-align: center;
}


a.submitButton:disabled,input[type=submit].submitButton:disabled {
  background-color: rgba(0,0,0,0.15);
}

input.wide {
  width:80%;
  margin-bottom: 5px;
  box-sizing: border-box;
}

.select-styler {
	width:226px;
	overflow: hidden;
	float:right;
  background: url(../res/dropdown.png) no-repeat 96% white;
}

.select-styler > select {
	 background: transparent;
	 border:1px solid rgba(0,0,0,0);
	 font-size:15px;
	 font-family:rl;
	 width:250px;
	color:rgba(0,0,0,0.50);  
}

.select-styler > select:focus {
	outline: none;
	outline-color: transparent;
}

.fixed-form {
  position: absolute;
  top:calc(100% - 37px);
  width:100%;
  box-sizing: border-box;
  display: flex;
}

.fixed-form > input[type="text"] {
  flex:10;
  
}

.fixed-form > input[type="submit"] {
  flex:1;
  border-left:5px solid white;
  box-sizing: border-box;
}
