/*Finestre a comparsa*/
.modal {
  position: fixed;
  z-index: 10;
  top:0;
  left:0;
  width:100%;
  height: 100%;
  background-color: rgba(0,0,0,0.50);
  display: none;
}

.modal-body {
  position: absolute;
  background-color:#fafafa;
  padding:30px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.modal-body > .flex-parent, .modal-body > .flex-parent >.flex {
  position: relative;
  width:100%;
}


.modal-close {
  position: absolute;
  text-align: center;
  width:22px;
  font-size: 20px;
  line-height: 20px;
  height: 22px;
  left: calc(100% - 20px);
  top:0;
  cursor: pointer;
}

ul.scrollable {
  width:300px;
  height: 300px;
  overflow-y:auto;
}

ul.scrollable > li a {
  text-align: center;
}