
.item {
  position: relative;
}

.item > img {
	  border-radius: 2px;
	  border-top-left-radius: 0px;
	  border-top-right-radius: 0px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.item:hover > .creator-label,.item:hover > img {
	 box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.creator-label {
	height: 30px;
	font-size:18px;
	text-align: left;
	display: block;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  padding-left:10px;
	padding-top:5px;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	text-decoration: none;
	color:inherit;
}

.pic-details {
	width:100%;
	height:calc(100% - 39px);
	position: absolute;
	top:35px;
	left:0;
	opacity: 0;
	background-color: rgba(0,0,0,0.30);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.pic-details:hover {
	opacity: 1;
}

.pic-details > div {
	position: absolute;
	display: flex;
	height:50px;
	top:calc(50% - 25px);
}

.pic-details > div > span {
	line-height: 50px;
	color:white;
	font-family:rb;
}

.thumb-down,.thumb-up {
	width: 50px;
}

.thumb-down {
	transform: rotate(180deg);
}