
html,body {
	width:100%;
	margin:0;
	padding:0;
	font-family: rl;
	font-size: 14px;
	color:rgba(0,0,0,0.50);
}

body {
	background-color: #fafafa;
	position: relative;
}


.centered {
	display: block;
	margin-left:auto;
	margin-right: auto;
	text-align: center;
}

h1 {
	margin:0;
	font-weight: normal;
}

aside#orderPics, aside#searchUser {
	width:100%;
	margin:0 auto;
	margin-top:20px;
	width:70%;
	text-align: right;
	padding-right:5px;
	overflow-x: auto;
}

#profilePic {
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

div.user-details {
	margin-left:20px;
}

div.user-details > h2 {
	font-size:30px;
}

div.user-details > h2 > small {
	font-size:20px;
	color:rgba(0,0,0,0.6666);
}

.splash {
	 box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

hr {
	color:white;
	border:1px solid rgba(0,0,0,0.10);
}

.floating {
	position: fixed;
	z-index: 100;
	top:calc(100% - 80px);
	left:calc(100% - 80px);
}

.floating > img {
	width:50px;
	height:50px;
  border-radius: 100%;
	 box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

aside#searchUser