#container {
  display: flex;
  flex-flow: row wrap;
}

.item {
  flex-basis: 33.33333333%;
  background-color: transparent;
  border:5px solid white;
  box-sizing:border-box;
  transition: height 200ms ease-in-out;
  overflow: hidden;
}

.item img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
